<%- layout('boilerplate/boilerplate') -%>
<main>
  <section id="order-menu">
    <%- include('../partials/flash') %>
    <h1 class="text-center">New Order</h1>
    <form action="/cart" method="post" class="form-menu">
      <div class="mb-3 menu">
        <label for="menu-day" class="form-label">Menu</label>
        <select name="menu" id="menu-day" class="form-select" required>
          <% for(let menu of allMenus){ %> 
          <option value="<%= menu._id %>"><%= displayDate(menu.date) %> - <%= menu.title %></option>
          <% } %>
        </select>
      </div>
      <div class="mb-3 quantity">
        <label for="quantity" class="form-label">Quantity</label>
        <input type="number" class="form-control" name="quantity" id="quantity" min="1" required>
      </div>
      <div class="mb-3 order-message">
        <label for="message" class="form-label">Message (optional)</label>
        <textarea name="message" id="message" rows="3" class="form-control"></textarea>
      </div>
      <div class="mb-3 total-price">
        <label for="total-price" class="form-label">Total Prices</label>
        <p id="total-price">Rp 50.000</p>
      </div>
      <div class="mb-3 submit-order">
        <button class="btn btn-lg text-white">Add to cart</button>
      </div>
    </form>
  </section>
</main>