<%- layout('boilerplate/boilerplate') -%>
<main>
  <section id="payment-card">
    <div class="mt-5 pt-5">

    <%- include('../partials/flash') %>
    <form action="/payment?paymentMethod=<%= method %>&cartId=<%= cart.id %>" id="form-payment-card" method="post" tp="<%= cart.totalPrices %>">
      <div class="mb-3 card-number">
        <label for="card-number" class="form-label">Card Number</label>
        <input type="text" class="form-control" id="card-number" name="card_number">
      </div>
      <div class="mb-3 exp-month">
        <label for="exp-month" class="form-label">Expired Month</label>
        <input type="text" class="form-control" id="exp-month" name="card_exp_month">
      </div>
      <div class="mb-3 exp-year">
        <label for="exp-year" class="form-label">Expired Year</label>
        <input type="text" class="form-control" id="exp-year" name="card_exp_year">
      </div>
      <div class="mb-3 card-cvn">
        <label for="card-cvn" class="form-label">Cvn Code</label>
        <input type="number" name="card_cvn" id="card-cvn" class="form-control">
      </div>
      <div class="hidden-inputs">
      </div>
      <div class="mb-3 submit-card-btn">
        <button class="btn btn-success" id="pay-card">Pay</button>
      </div>
    </form>

    <a href="/cart/<%= cart.id %>" class="btn btn-danger">Cancel</a>

    <p id="pay-card-error"></p>

    <div class="modal fade" id="modal3DS" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal3DSLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <iframe id="iframe-card-payment" frameborder="0"></iframe>
        </div>
      </div>
    </div>

  </div>
  </section>
</main>