<%- layout('boilerplate/boilerplate') -%>
<main>
  <section id="menus-this-week">
    <div class="menus">
      <h1>Menus</h1>
      <%- include('../partials/flash') %>
      <div class="admin-buttons d-flex justify-content-evenly my-4">
        <a href="/admin/menu/create" class="btn btn-primary btn-lg text-white"><i class="fas fa-plus"></i> Add a menu</a>
      </div>
      <div class="days">
        <% for(let menu of allMenus){ %> 
        <div class="day">
          <h3><%= displayDay(menu.date) %></h3>
          <div class="card">
            <img src="<%= menu.images[0].displayImg %>" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title"><%= menu.title %></h5>
              <p class="card-text">Date: <%= displayDate(menu.date) %></p>
              <p class="card-text">Description: <%= menu.description %></p>
              <a class="btn text-white mb-2" href="/admin/orders/<%= menu._id %>">All orders fot this menu</a>
              <a class="btn text-white mb-2" href="/admin/menu/<%= menu._id %>"><i class="fas fa-pen"></i> Edit this menu</a>
              <form action="/admin/menu/<%= menu._id %>?_method=DELETE" method="post">
                <button class="btn text-white"><i class="fas fa-trash"></i> Delete this menu</button>
              </form>
            </div>
          </div>
        </div>
        <% } %> 
      </div>
    </div>
  </section>
</main>