<%- layout('boilerplate/boilerplate') -%>
<main>
  <section id="menus-this-week">
    <div class="menus">
      <h1>Menus</h1>
      <%- include('../partials/flash') %> 
      <a href="/menus" class="btn btn-primary btn-lg text-white">Add a menu</a>
      <div class="days">
        <% for(let menu of allMenus){ %> 
        <div class="day">
          <% const date = displayDate(menu.date) %>
          <h3><%= replaceComma(date[0]) %></h3>
          <div class="card">
            <img src="<%= menu.images[0].displayImg %>" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title"><%= menu.title %></h5>
              <p class="card-text">Date: <%= date[0] %>  <%= date[1] %> <%= date[2] %>  <%= date[3] %></p>
              <p class="card-text">Description: <%= menu.description %></p>
              <a class="btn text-white" href="/admin/menu/<%= menu._id %>">All orders fot this menu</a>
              <a class="btn text-white" href="/admin/menu/edit?menuId=<%= menu._id %>">Edit this menu</a>
              <form action="/admin/menu/<%= menu._id %>?_method=DELETE" method="post">
                <button class="btn text-white">Delete this menu</button>
              </form>
            </div>
          </div>
        </div>
        <% } %> 
      </div>
    </div>
  </section>
</main>