<%- layout('boilerplate/boilerplate') -%>
<main>
  <section id="admin-home-orders">
    <h1 class="text-center">Orders for <%= menuTitle %> on <%= displayDate(menuDate) %></h1>
    <div class="row">
      <% if(allOrders){ %> 
      <% for(let order of allOrders){ %>
        <div class="col-md-6">
          <div class="order">
            <h3 class="text-center">By <%= order.owner.username %></h3>
            <div class="card">
              <div class="card-body">
                <p class="card-text">Number of orders: <%= order.quantity %></p>
                <p class="card-text">Address: <%= order.owner.address %></p>
                <% if(order.message === ''){ %>
                  <p class="text-muted">Message: none</p>
                <% } else { %>
                  <p class="card-text">Message: <%= order.message %></p>
                <% } %>   
                <a href="#" class="btn btn-success text-white">Accept</a>
                <a href="#" class="btn btn-danger text-white">Reject</a>
              </div>
            </div>
          </div>
        </div>
      <% } %>
      <% } %> 
    </div>
  </section>
</main>