<%- layout('boilerplate/boilerplate') -%>
<header>
  <div class="heading">
    <h1 class="text-white">We make the most delicious food in town</h1>
    <p>We deliver your food to your house</p>
    <button class="btn btn-lg"><a href="/order">Order Now</a></button>
  </div>
</header>

<main>
  <section id="about-us">
    <%- include('./partials/flash') %>
    <h1 class="fw-bolder text-center about-us-title mb-3">About Us</h1>
    <div class="paraf row">
      <div class="paraf-1 col-lg-6">
        <p>We deliver the food to your house just order it from our website or direct whatsapp, We always make fresh foods only by various menu everyday.</p>
      </div>
      <div class="paraf-2 col-lg-6">
        <p>We always make delicious foods with affordable price, so every body can buy our foods</p>
      </div>
    </div>
  </section>

  <section id="our-advantages">
    <h1 class="text-center fw-bolder our-advantages-title mt-2 mb-md-5 mb-3">Our Advantages</h1>
    <div class="our-advantages mt-md-4 mb-md-4 mb-2">
      <div class="row justify-content-center gap-lg-4 gap-3">
        <div class="col-xxl-3 col-md-6 shadow fast-delivery">
          <i class="text-center fas fa-shipping-fast"></i>
          <!-- <img class="od-img" src="/icons/delivery.png" alt=""> -->
          <h4 class="text-center">Fast Delivery</h4>
          <p class="text-center">We deliver the food to your house</p>
        </div>
        <div class="col-xxl-3 col-md-6 shadow fresh-food">
          <i class="text-center fas fa-utensils"></i>
          <!-- <img class="od-img" src="/icons/tray.png" alt=""> -->
          <h4 class="text-center">Fresh Foods Guarantee</h4>
          <p class="text-center">We always make fresh foods only</p>
        </div>
        <div class="w-100 d-md-block d-none"></div>
        <div class="col-xxl-3 col-md-6 shadow delicious">
          <i class="text-center fas fa-thumbs-up"></i>
          <!-- <img class="od-img" src="/icons/delicious.png" alt=""> -->
          <h4 class="text-center">Delicious</h4>
          <p class="text-center">We always make delicious food</p>
        </div>
        <div class="col-xxl-3 col-md-6 shadow affordable-prices">
          <i class="text-center fas fa-hand-holding-usd"></i>
          <!-- <img class="od-img" src="/icons/save-money.png" alt=""> -->
          <h4 class="text-center">Affordable Prices</h4>
          <p class="text-center">Makes you can buy our foods everyday</p>
        </div>
      </div>
    </div>
  </section>

  <section id="menus-this-week">
    <div class="menus">
      <h1>Menus For This Week</h1>
      <div class="days">
        <% for(let menu of menus){ %> 
        <div class="day">
          <h3><%= displayDay(menu.date) %></h3>
          <div class="card">
            <img src="<%= menu.images[0].displayImg %>" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title"><%= menu.title %></h5>
              <p class="card-text">Date: <%= displayDate(menu.date) %></p>
              <p class="card-text">Description: <%= menu.description %></p>
              <a href="/order" class="btn text-white">Order For This Menu</a>
            </div>
          </div>
        </div>
        <% } %> 
      </div>
    </div>
  </section>

  <section id="testimoni">
    <div class="inner">
      <h1 class="text-center">Our Testimoni</h1>
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></button>
        </div>
        <div class="carousel-inner mt-3">
          <div class="carousel-item text-center active">
            <img src="/img/briyani.jpg" class="slider-img" alt="">
            <div class="carousel-captio d-block">
              <h5>John Doe</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti minus perspiciatis fugiat, sit laboriosam beatae?</p>
            </div>
          </div>
          <div class="carousel-item text-center">
            <img src="/img/briyani.jpg" class="slider-img" alt="">
            <div class="carousel-captio d-block">
              <h5>John Doe</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, aut in.</p>
            </div>
          </div>
          <div class="carousel-item text-center">
            <img src="/img/briyani.jpg" class="slider-img" alt="">
            <div class="carousel-captio d-block">
              <h5>John Doe</h5>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur praesentium consectetur iusto rem ea.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <i class="fas fa-chevron-left"></i>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </section>

  <section id="contact-us">
    <h1>Contact Us</h1>
    <div class="whatsapp">
      <i class="fab fa-whatsapp"></i>
      <!-- <i class="fas fa-phone-alt"></i> -->
      <p>+62 896 6275 0281</p>
    </div>
    <div class="address">
      <i class="fas fa-home"></i>
      <p>Ebony Raya Street Block A18 194, Bekasi Jaya Indah, East Bekasi, Bekasi</p>
    </div>
  </section>
</main>